/* Smartphones (landscape) --  --  --  --  -- - */

@media screen and (min-width: 321px) {
	/* Styles */
}


/* Smartphones (portrait) --  --  --  --  -- - */

@media screen and (max-width: 320px) {
	/* Styles */
}


/* iPads (portrait and landscape) --  --  --  --  -- - */

@media screen and (min-width: 668px) and (max-width: 1223px) {
	/* Styles */
)	

/* iPads (landscape) --  --  --  --  -- - */

@media screen and (min-width: 668px) and (max-width: 1223px) and (orientation: landscape) {
	
}

/* iPads (portrait) --  --  --  --  -- - */

@media screen and (min-width: 668px) and (max-width: 1223px) and (orientation: portrait) {
	/* Styles */
}

/* Desktops and laptops --  --  --  --  -- - */

@media screen and (min-width: 1224px) {
	.button-buttom {
		text-decoration: none !important;
		position: fixed;
		right: 0%;
		bottom: 0%;
		border-radius: 0px;
		background: #0969c3;
		color: #fff !important;
		border-color: #0969c3;
		font-size: 11px;
		font-weight: 400;
		padding: 10px 10px;
		font-family: 'Open Sans', sans-serif;
	}
	.button-buttom:hover {
		color: #fff !important;
		background: #0a76db;
	}
	body {
		background: #000000;
	}
	#subscribe {
		background: #000000;
	}
	#subscribe .block-line {
		background: #444444;
		height: 3px;
		margin: 0 auto;
		width: 30px;
		display: block;
	}
	#subscribe .subscribe-position {
		position: relative;
		margin-bottom: 50px;
	}
	#subscribe h1 {
		text-transform: uppercase;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		line-height: 40px;
		margin-bottom: 20px;
	}
	#subscribe .subscribe-news {
		background:#000000;
	}
	#subscribe h2 {
		text-transform: uppercase;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: #FFFFFF;
		padding-top: 100px;
		font-size: 30px;
		line-height: 42px;
	}
	#subscribe .subscribe-news .subscribe-title {
		color: #FFFFFF;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		font-size: 20px;
		line-height: 26px;
	}
	#subscribe .sub-news .form-inline .form-sub {
		font-family: 'Open Sans', sans-serif;
		min-width: 420px;
		display: inline-block;
		box-shadow: none;
		vertical-align: middle;
		height: 50px;
		border-radius: 50px;
		border: 3px solid #fff;
	}
	#subscribe .sub-news .form-inline-box .form-group {
		margin-top: -6px;
	}
	#subscribe .sub-news .btn-subscribe {
		position: absolute;
		outline: none;
		background-color: #2196f3;
		color:#FFFFFF;
		display: inline-block;
		padding: 11px 30px;
		margin: -5px 0px 0px -80px;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		border: none;
		border-radius: 50px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
	}
	#subscribe .sub-news .btn-subscribe:hover,
	#subscribe .sub-news .btn-subscribe:active,
	#subscribe .sub-news .btn-subscribe:hover,
	#subscribe .sub-news .btn-subscribe:focus,
	#subscribe .sub-news .btn-subscribe:visited {
		color: #fff;
		background-color: #0a76db !important;
		border-color: #0a76db !important;
	}
	#subscribe .subscribe-news .form-news {
		padding-top: 50px;
		padding-bottom: 118px;
	}
	#subscribe .section-heading {
		padding-top: 50px;
		background-color: #000000;
	}
	#subscribe .msg-1 {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		font-size: 14px;
		line-height: 26px;
		right: 42%;
		left: 42%;
		
		position: absolute;
		top:65%;
		
		    border-radius: 3px;
	}
	#subscribe .msg-1-bg {
	background:#0969c3;
}